*{
margin:0;
padding: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
h1{
}
input{
 border: 0;
}

#busca{
    display:flex;
    justify-content: flex-end;
    padding-right: 5px;  

}

nav{
    display: grid;
    height: 1fr;
    grid-template-rows:1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px
}

main{
    display:flex;
    flex-direction: column;
    height: 74vh;
    justify-content: flex-start;
    
    margin: 20px 160px;
    gap: 20px
}







.botaovideo{
    border:1px solid green;
    display: flex;
    flex-direction: column;
    height: 220px;
    padding-bottom: 20px;
}
#texto{
    padding: 17px 0;
}

footer{
    display: flex;
    background-color: orange;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

@media screen and (max-device-width : 480px) {
    /* celulares */
    nav{
        display: grid;
        height: 1fr;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 38px;
    }
    
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: orange;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 100vw;
    }

    h1{
    font-size: 12px;
    }
    #busca{
        display:flex;
        justify-content: flex-end;
        padding-right: 5px; 
    
    }


    }
    